
<!--上方标题栏-->
<div class="parentTop">
    <a href="#" class="appName">车了了管理后台</a>
    <div class="loginNameDiv">
        <img class="loginIcon" src="/static/admin/image/icon.png">
        <div class="loginUserInfo">
            <span class="users"></span><br>
            <span class="role"></span>
        </div>
    </div>
</div>

<!--左侧菜单-->
<div class="leftMenu">
    <ul class="layui-nav layui-nav-tree"
        lay-filter="test">
    </ul>
</div>
<!--主要内容区-->
<div class="parentMain">
    <iframe id="iframeParent"></iframe>
</div>

<!--设置弹框-->
<div class="dialogMenu">
    <div id="parentChangePassword" class="dialogMenu-item">修改密码</div>
    <div id="parentExit" class="dialogMenu-item">退出</div>
</div>